<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
            .button {
                display: block;
                width: 100px;
                height: 25px;
                background: #4E9CAF;
                padding: 10px;
                text-align: center;
                border-radius: 5px;
                color: white;
                font-weight: bold;
            }
        </style>
</head>
<body>
        <p>Değerli {{client.full_name() }},</p>
        <p>Randevu işlemini tamamlamak için email adresinizi doğrulamanız gerekiyor.</p>
        </p>Lütfen aşağıdaki butona tıklayarak email adresinizi doğrulayınız:</p> <br />
        <p>
            <a class="button" style="text-decoration: none;" href="{{ url_for('home.confirm_email', token=token, _external=True ) }}">
                Email Doğrula!
            </a>
        </p>
        <p>Eğer randevu talebi yapmadıysanız lütfen bu maili önemsemeyin.</p>
        <p>Saygılarımızla,</p>
        <p>Info CE Bilişim LTD</p>
</body>
</html>

