<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
            .button {
                display: block;
                width: 100px;
                height: 25px;
                background: #4E9CAF;
                padding: 10px;
                text-align: center;
                border-radius: 5px;
                color: white;
                font-weight: bold;
            }
        </style>
</head>
<body>
        <p>Dear {{client.full_name() }},</p>
        <p>You need to verify your email address to complete the appointment.</p>
        </p>Please confirm your email address by clicking the button below:</p> <br />
        <p>
            <a class="button" style="text-decoration: none;" href="{{ url_for('home.confirm_email', token=token, _external=True ) }}">
                Verify Email!
            </a>
        </p>
        <p>If you have not made an appointment request, please do ignore this email.</p>
        <p>our respect,</p>
        <p>Info CE Information LTD</p>
</body>
</html>

