{% extends 'bootstrap/base.html' %}
{%block title%}
    {{title}}
{%endblock%}

{% block navbar %} 
    {% include '_navbar.html' %} 
{% endblock %}

<!-- MAIN BODY -->
{% block content%}
<div class="container">
    <br />
    {% with messages = get_flashed_messages(with_categories=true) %} 
        {% if messages %} 
            {% for category, message in messages %}
                <div class="alert alert-{{category}}" role="alert">
                    {{message}}
                </div>
            {% endfor %}
        {%endif%} 
    {% endwith %}
    
    <!-- Application BODY -->
    {% block app_content %}
    {% endblock%}
</div>
{% endblock%}
